/* PHASE 5: Cats */

.content > h1 {
    font-size: 36px;
    color: white;
    top: 20px; 
}

/* body {
    display: flex;
    justify-content: center;

} */

.content {
    background-image: url("../images/cats.jpg");
    
}